<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Currently, I work as a Machine Learning Engineer at
      <a class="underline-link" href="https://deltacognition.com/" target="_blank">Delta Cognition</a>, specializing in cutting-edge research related to generative AI and its various applications. I acquired my educational foundation at
      <a class="underline-link" href="https://hcmut.edu.vn/en" target="_blank">Ho Chi Minh city University of Technology</a>, where I refined my skills and developed a passion for the field of AI and ML. Furthermore, I am a member of 
      <a class="underline-link" href="https://vietai.org/" target="_blank">VietAI</a>, an organization focused on advancing research in artificial intelligence within the Vietnamese community.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably chatting with friends, reading manga, or listening to podcasts.
    </p>

  </div>
</section>
